body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 80%;
  height: 800px;
}
.img-d {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.box {
	position: absolute;
	right: 10px;
	top: 80px;
	width: 23%;
	max-height: 750px;

}

.box-container {
	-webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.65);
	box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.65);
	border-radius: 4px;
	max-height: 750px;
}

.image-container {

	font-family: sans-serif;
	color: #337ab7;
	background-color:#292b2c;
	border-radius: 4px 4px 0 0;
  position: relative;
  height: 150px;
  width: 100%;
}

.img-text {
	font-size: 20px;
	margin: 0;
	text-align: center;
	padding: 0;
}
.img-izq {
	vertical-align: middle;
	display: inline-block;
	position: absolute;
  top: 10px;
  left: 15%;
}
.img-der {
	vertical-align: middle;
	display: inline-block;
	position: absolute;
  top: 10px;
  right: 15%;
}

.dialogs-class {
	padding:10px;
	overflow-y: auto;
	height: 550px;
}

.btn-container {
  padding-top: 10px;
  margin-left: 10px;
}

.btn-class {
  border-radius: 2px;
  border: 1px solid #38b6ff;
  color: #38b6ff;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 8px;
  vertical-align: top;
  style="text-align:bottom;
}
.btn-class:hover {
  background: #38b6ff;
  color: #ffffff;
  cursor: pointer;
  padding: 24px 8px 0 8px;
}

.selected {
  color: #ffffff;
  background: #38b6ff;
  padding: 24px 8px 0 8px;
}


#style-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}

#style-bar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-bar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #292b2c;
}


#result {
    text-align: right;
    color: gray;
    min-height: 2em;
}
#table-sparkline {
    margin: 0 auto;
    border-collapse: collapse;
}
th {
    font-weight: bold;
    text-align: left;
}
td, th {
    padding: 5px;
    border-bottom: 1px solid silver;
    height: 20px;
}

thead th {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.highcharts-tooltip>span {
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
}
